extends ./head
block content
  .all-wrapper
    .all-navbar-wrapper
      .all-navbar-header-wrapper
        .all-navbar-header-text-wrapper
          .all-navbar-header-title= navbar.title
          .all-navbar-header-subtitle= navbar.subtitle
          if navbar.logout
            a.all-navbar-header-logout-button(href=navbar.logout) Log Out
      .all-navbar-content-wrapper
        each button in navbar.menu
          if button.selected
            span.each-navbar-group-link.each-navbar-group-link-selected → #{button.name}
          else
            a.each-navbar-group-link(href=button.link class=(button.selected ? 'each-navbar-group-link-selected' : '')) → #{button.name}
        .all-navbar-footer-wrapper
          .all-navbar-copyright Copyright #{(new Date).getFullYear()} - node101
    .all-content-wrapper
      block main