extends ../partials/navbar
block main
  .general-header-wrapper
    .general-header-text-wrapper
      .general-header-title Developer Details - #{developer.login}
      .general-header-subtitle See the details.
    input.general-header-search-input#developer-search-input(autocomplete='search' name='new-password' placeholder='Search by name' value='')
  .all-content-inner-wrapper
    .general-details-wrapper
      each field in Object.keys(developer)
        span.general-details-title #{field.split('_').join(' ').toUpperCase()}
        .general-details-seperator
        .general-details-info-grid-wrapper(style=`grid-template-columns: repeat(${developer[field].columns}, 1fr);`)
          each subfield in Object.keys(developer[field])
            if subfield.toString() != 'columns'
              .general-details-info-grid-each-item-wrapper
                span.general-details-subtitle #{subfield.split('_').map((word) => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')}
                if developer[field][subfield] && developer[field][subfield].toString().includes('http')
                  a.general-details-info(href=`${developer[field][subfield]}` target='_blank') #{developer[field][subfield]}
                else
                  .general-details-info= developer[field][subfield] && developer[field][subfield] != {} ? developer[field][subfield] : 'No information'