extends ../partials/navbar
block main
  .general-header-wrapper
    .general-header-text-wrapper
      .general-header-title Developers
      a.general-header-subtitle(href='/developers/export' target='_blank') Click to export as CSV file.
    input.general-header-search-input#developer-search-input(type='text' placeholder='Search by name' value=developers_search)
  .all-content-inner-wrapper
    .general-page-wrapper
      if developers_search
        span.general-page-search-text Showing results of the search: "#{developers_search}"
      .general-page-inner-wrapper
        .general-page-buttons-wrapper
          if developers_page > 0
            a.general-page-prev-button(href=`/developers?page=${developers_page-1}${developers_search ? '&search=' + developers_search : ''}`) < Previous
          else
            span.general-page-prev-button.general-page-prev-button-not-allowed < Previous
          - for (let i = 0; i < parseInt(developers_count / developers_limit) + (developers_count % developers_limit ? 1 : 0); i += 1)
            if i != developers_page
              - delete params.limit; delete params.page;
              a.general-each-page-button(href=`/developers?page=${i}${developers_search ? '&search=' + developers_search : ''}${new URLSearchParams(params).toString() ? '&' + new URLSearchParams(params).toString() : ''}`)= i+1
            else
              span.general-each-page-button.general-each-page-button-selected= i+1
          if (developers_page + 1) * developers_limit < developers_count
            a.general-page-next-button(href=`/developers?page=${developers_page+1}${developers_search ? '&search=' + developers_search : ''}`) Next >
          else
            span.general-page-next-button.general-page-next-button-not-allowed Next >
        span.general-page-info Showing #{developers_limit} results per page.
    .general-items-wrapper
      .general-create-input-grid-wrapper(style=`grid-template-columns: repeat(2, 1fr);`)
        span.general-create-subtitle Sort By
          .general-radio-input-grid-each-item-wrapper(id='sort-by-radio')
            each option in Object.keys(DEVELOPERS_SORT_OPTIONS)
              .general-radio-input-wrapper(data-value=option)
                .general-radio-input-box(class=('sort' in params ? (params.sort == option ? 'general-radio-input-box-selected' : '') : (option == 'find_at' ? 'general-radio-input-box-selected' : '')))
                  svg.general-radio-input-box-tick(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                    path(d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z')
                .general-radio-input-text= DEVELOPERS_SORT_OPTIONS[option]
        span.general-create-subtitle Order
          .general-radio-input-grid-each-item-wrapper(id='order-radio')
            .general-radio-input-wrapper(data-value='1')
              .general-radio-input-box(class=((!('sort_order' in params) || (('sort_order' in params) && params.sort_order == 1)) ? 'general-radio-input-box-selected' : ''))
                svg.general-radio-input-box-tick(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                  path(d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z')
              .general-radio-input-text Ascending
            .general-radio-input-wrapper(data-value='-1')
              .general-radio-input-box(class=(('sort_order' in params && params.sort_order == -1) ? 'general-radio-input-box-selected' : ''))
                svg.general-radio-input-box-tick(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                  path(d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z')
              .general-radio-input-text Descending
      each developer in developers
        .general-each-item-wrapper(id=developer._id)
          .general-each-item-title-wrapper
            span.general-each-item-title= developer.login
            a.general-each-item-subtitle(href=`https://github.com/${developer.login}` target='_blank') #{`https://github.com/${developer.login}`}
          .general-each-item-buttons-wrapper
            a.general-each-item-first-button(href='/developers/details?id=' + developer._id) Details
