extends ../partials/navbar
block main
  .general-header-wrapper
    .general-header-text-wrapper
      .general-header-title Repository Details - #{repository.title + ' / ' + repository.developer.login}
      .general-header-subtitle See the details.
    input.general-header-search-input#repository-search-input(autocomplete='search' name='new-password' placeholder='Search by name' value='')
  .all-content-inner-wrapper
    .general-details-wrapper
      span.general-details-title General Information
      .general-details-seperator
      .general-details-info-grid-wrapper(style='grid-template-columns: 1fr 1fr 2fr;')
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Title
          .general-details-info= repository.title
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle ID
          .general-details-info= repository.github_id
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle URL
          .general-details-info= repository.url
      .general-details-info-grid-wrapper(style='grid-template-columns: repeat(1, 1fr);')
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Description
          .general-details-info= repository.description
      span.general-details-title Dates
      .general-details-seperator
      .general-details-info-grid-wrapper(style='grid-template-columns: repeat(3, 1fr);')
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Created At
          .general-details-info= repository.created_at
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Updated At
          .general-details-info= repository.updated_at
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Pushed At
          .general-details-info= repository.pushed_at
      span.general-details-title Owner
      .general-details-seperator
      .general-details-info-grid-wrapper(style='grid-template-columns: repeat(3, 1fr);')
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle ID
          .general-details-info= repository.developer.github_id
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Name
          .general-details-info= repository.developer.login
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Node ID
          .general-details-info= repository.developer.node_id
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Type
          .general-details-info= repository.developer.type
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Site Admin
          .general-details-info= repository.developer.site_admin ? 'Yes' : 'No'
      .general-details-info-grid-wrapper(style='grid-template-columns: 1fr;')
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Avatar URL
          a.general-details-info(target='_blank' href=repository.developer.avatar_url) #{repository.developer.avatar_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle URL
          a.general-details-info(target='_blank' href=repository.developer.url) #{repository.developer.url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle HTML URL
          a.general-details-info(target='_blank' href=repository.developer.html_url) #{repository.developer.html_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Followers URL
          a.general-details-info(target='_blank' href=repository.developer.followers_url) #{repository.developer.followers_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Following URL
          a.general-details-info(target='_blank' href=repository.developer.following_url) #{repository.developer.following_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Gists URL
          a.general-details-info(target='_blank' href=repository.developer.gists_url) #{repository.developer.gists_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Starred URL
          a.general-details-info(target='_blank' href=repository.developer.starred_url) #{repository.developer.starred_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Subscriptions URL
          a.general-details-info(target='_blank' href=repository.developer.subscriptions_url) #{repository.developer.subscriptions_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Organizations URL
          a.general-details-info(target='_blank' href=repository.developer.organizations_url) #{repository.developer.organizations_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Repos URL
          a.general-details-info(target='_blank' href=repository.developer.repos_url) #{repository.developer.repos_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Events URL
          a.general-details-info(target='_blank' href=repository.developer.events_url) #{repository.developer.events_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Received Events URL
          a.general-details-info(target='_blank' href=repository.developer.received_events_url) #{repository.developer.received_events_url}
      span.general-details-title Detailed Information
      .general-details-seperator
      .general-details-info-grid-wrapper(style='grid-template-columns: 1fr 1fr 1fr 1fr 1fr;')
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Fork
          .general-details-info= repository.fork ? 'Yes' : 'No'
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Size
          .general-details-info= repository.size
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Stargazers Count
          .general-details-info= repository.stargazers_count
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Watchers Count
          .general-details-info= repository.watchers_count
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Language
          .general-details-info= repository.language
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Has Issues
          .general-details-info= repository.has_issues ? 'Yes' : 'No'
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Has Projects
          .general-details-info= repository.has_projects ? 'Yes' : 'No'
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Has Downloads
          .general-details-info= repository.has_downloads ? 'Yes' : 'No'
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Has Wiki
          .general-details-info= repository.has_wiki ? 'Yes' : 'No'
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Has Pages
          .general-details-info= repository.has_pages ? 'Yes' : 'No'
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Has Discussions
          .general-details-info= repository.has_discussions ? 'Yes' : 'No'
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Forks Count
          .general-details-info= repository.forks_count
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Archived
          .general-details-info= repository.archived ? 'Yes' : 'No'
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Disabled
          .general-details-info= repository.disabled ? 'Yes' : 'No'
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Open Issues Count
          .general-details-info= repository.open_issues_count
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle License
          .general-details-info= repository.license
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Allow Forking
          .general-details-info= repository.allow_forking ? 'Yes' : 'No'
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Is Template
          .general-details-info= repository.is_template ? 'Yes' : 'No'
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Watchers
          .general-details-info= repository.watchers
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Default Branch
          .general-details-info= repository.default_branch
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Score
          .general-details-info= repository.score
      .general-details-info-grid-wrapper(style='grid-template-columns: 1fr;')
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Topics
          .general-details-info= repository.topics.join(', ')
      span.general-details-title URLs
      .general-details-seperator
      .general-details-info-grid-wrapper(style='grid-template-columns: 1fr;')
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Forks URL
          a.general-details-info(target='_blank' href=repository.forks_url) #{repository.forks_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Keys URL
          a.general-details-info(target='_blank' href=repository.keys_url) #{repository.keys_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Collaborators URL
          a.general-details-info(target='_blank' href=repository.collaborators_url) #{repository.collaborators_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Teams URL
          a.general-details-info(target='_blank' href=repository.teams_url) #{repository.teams_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Hooks URL
          a.general-details-info(target='_blank' href=repository.hooks_url) #{repository.hooks_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Issue Events URL
          a.general-details-info(target='_blank' href=repository.issue_events_url) #{repository.issue_events_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Events URL
          a.general-details-info(target='_blank' href=repository.events_url) #{repository.events_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Assignees URL
          a.general-details-info(target='_blank' href=repository.assignees_url) #{repository.assignees_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Branches URL
          a.general-details-info(target='_blank' href=repository.branches_url) #{repository.branches_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Tags URL
          a.general-details-info(target='_blank' href=repository.tags_url) #{repository.tags_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Blobs URL
          a.general-details-info(target='_blank' href=repository.blobs_url) #{repository.blobs_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Git Tags URL
          a.general-details-info(target='_blank' href=repository.git_tags_url) #{repository.git_tags_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Git Refs URL
          a.general-details-info(target='_blank' href=repository.git_refs_url) #{repository.git_refs_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Trees URL
          a.general-details-info(target='_blank' href=repository.trees_url) #{repository.trees_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Statuses URL
          a.general-details-info(target='_blank' href=repository.statuses_url) #{repository.statuses_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Languages URL
          a.general-details-info(target='_blank' href=repository.languages_url) #{repository.languages_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Stargazers URL
          a.general-details-info(target='_blank' href=repository.stargazers_url) #{repository.stargazers_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Contributors URL
          a.general-details-info(target='_blank' href=repository.contributors_url) #{repository.contributors_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Subscribers URL
          a.general-details-info(target='_blank' href=repository.subscribers_url) #{repository.subscribers_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Subscription URL
          a.general-details-info(target='_blank' href=repository.subscription_url) #{repository.subscription_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Commits URL
          a.general-details-info(target='_blank' href=repository.commits_url) #{repository.commits_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Git Commits URL
          a.general-details-info(target='_blank' href=repository.git_commits_url) #{repository.git_commits_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Comments URL
          a.general-details-info(target='_blank' href=repository.comments_url) #{repository.comments_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Issue Comment URL
          a.general-details-info(target='_blank' href=repository.issue_comment_url) #{repository.issue_comment_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Contents URL
          a.general-details-info(target='_blank' href=repository.contents_url) #{repository.contents_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Compare URL
          a.general-details-info(target='_blank' href=repository.compare_url) #{repository.compare_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Merges URL
          a.general-details-info(target='_blank' href=repository.merges_url) #{repository.merges_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Archive URL
          a.general-details-info(target='_blank' href=repository.archive_url) #{repository.archive_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Downloads URL
          a.general-details-info(target='_blank' href=repository.downloads_url) #{repository.downloads_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Issues URL
          a.general-details-info(target='_blank' href=repository.issues_url) #{repository.issues_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Pulls URL
          a.general-details-info(target='_blank' href=repository.pulls_url) #{repository.pulls_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Milestones URL
          a.general-details-info(target='_blank' href=repository.milestones_url) #{repository.milestones_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Notifications URL
          a.general-details-info(target='_blank' href=repository.notifications_url) #{repository.notifications_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Labels URL
          a.general-details-info(target='_blank' href=repository.labels_url) #{repository.labels_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Releases URL
          a.general-details-info(target='_blank' href=repository.releases_url) #{repository.releases_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Deployments URL
          a.general-details-info(target='_blank' href=repository.deployments_url) #{repository.deployments_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Git URL
          a.general-details-info(target='_blank' href=repository.git_url) #{repository.git_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle SSH URL
          a.general-details-info(target='_blank' href=repository.ssh_url) #{repository.ssh_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Clone URL
          a.general-details-info(target='_blank' href=repository.clone_url) #{repository.clone_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle SVN URL
          a.general-details-info(target='_blank' href=repository.svn_url) #{repository.svn_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Mirror URL
          a.general-details-info(target='_blank' href=repository.mirror_url) #{repository.mirror_url}
        .general-details-info-grid-each-item-wrapper
          span.general-details-subtitle Homepage
          a.general-details-info(target='_blank' href=repository.homepage) #{repository.homepage}
