extends ../partials/navbar
block main
  .general-header-wrapper
    .general-header-text-wrapper
      .general-header-title Details - #{repository.general_information.title + ' / ' + repository.developer_general.username}
      .general-header-subtitle Last updated at #{new Date(latest_update_time).toISOString()}
    input.general-header-search-input#repository-search-input(autocomplete='search' name='new-password' placeholder='Search by name' value='')
  .all-content-inner-wrapper
    .general-details-wrapper
      each field in Object.keys(repository)
        span.general-details-title #{field.split('_').join(' ').toUpperCase()}
        .general-details-seperator
        .general-details-info-grid-wrapper(style=`grid-template-columns: repeat(${repository[field].columns}, 1fr);`)
          each subfield in Object.keys(repository[field])
            if subfield.toString() != 'columns'
              .general-details-info-grid-each-item-wrapper
                span.general-details-subtitle #{subfield.split('_').map((word) => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')}
                if repository[field][subfield] && repository[field][subfield].toString().includes('http')
                  a.general-details-info(href=`${repository[field][subfield]}` target='_blank') #{repository[field][subfield]}
                else
                  .general-details-info= repository[field][subfield] && repository[field][subfield] != {} ? repository[field][subfield] : 'No information'
