extends ../partials/navbar
block main
  .general-header-wrapper
    .general-header-text-wrapper
      .general-header-title Repositories
      .general-header-subtitle See the repositories.
    input.general-header-search-input#repository-search-input(type='text' placeholder='Search by name' value=repositories_search)
    .general-header-advanced-search-button Advanced Search
  .all-content-inner-wrapper
    .general-page-wrapper
      if repositories_search
        span.general-page-search-text Showing results of the search: '#{repositories_search}'
      if params
        .general-page-filter-wrapper
          each param in Object.keys(params)
            if param != 'page' && param != 'search' && param != 'limit' && param != 'sort' && param != 'sort_order'
              span.general-page-filter #{param.charAt(0).toUpperCase() + param.slice(1).split('_').join(' ')}: #{params[param]}
                svg.general-page-filter-remove-button(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' data-filter=`${param}`)
                  path(d='M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z')
      .general-page-inner-wrapper
        .general-page-buttons-wrapper
          if repositories_page > 0
            a.general-page-prev-button(href=`/repositories?page=${repositories_page-1}${repositories_search ? '&search=' + repositories_search : ''}`) < Previous
          else
            span.general-page-prev-button.general-page-prev-button-not-allowed < Previous
          - for (let i = 0; i < parseInt(repositories_count / repositories_limit) + (repositories_count % repositories_limit ? 1 : 0); i += 1)
            if i != repositories_page
              - delete params.limit; delete params.page;
              a.general-each-page-button(href=`/repositories?page=${i}${repositories_search ? '&search=' + repositories_search : ''}${new URLSearchParams(params).toString() ? '&' + new URLSearchParams(params).toString() : ''}`)= i+1
            else
              span.general-each-page-button.general-each-page-button-selected= i+1
          if (repositories_page + 1) * repositories_limit < repositories_count
            a.general-page-next-button(href=`/repositories?page=${repositories_page+1}${repositories_search ? '&search=' + repositories_search : ''}`) Next >
          else
            span.general-page-next-button.general-page-next-button-not-allowed Next >
        span.general-page-info Showing #{repositories_limit} results per page.
    .general-items-wrapper
      each repository in repositories
        .general-each-item-wrapper(id=repository._id)
          .general-each-item-title-wrapper
            span.general-each-item-title= repository.title
            a.general-each-item-subtitle(href=repository.url target='_blank')= repository.url
          .general-each-item-buttons-wrapper
            a.general-each-item-first-button(href='/repositories/details?id=' + repository._id) Details
    .general-create-wrapper.display-none
      .general-create-title Details
      .general-create-seperator
      .general-create-input-grid-wrapper
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle Title
          input.general-input#title(type='text' placeholder='e.g. Mina' value=params.title ? params.title : '')
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle Description
          input.general-input#description(type='text' placeholder='e.g. Web App' value=params.description ? params.description : '')
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle Language
          .general-select-input-wrapper
            input.general-select-input-real-value#language(type='text' value=params.language ? params.language : '')
            input.general-select-input-selected-value(type='text' autocomplete='off' name='new-password' placeholder='Type to search.' value=params.language ? params.language : '')
            .general-select-input-choices-wrapper
              each language, i in LANGUAGE_SEARCH_OPTIONS
                .general-select-input-choice-wrapper
                  .general-select-each-input-choice(data-value=language)= language
        .general-create-input-grid-each-item-wrapper
          .general-checkbox-input-wrapper#has-fork
            .general-checkbox-input-box(class=params.fork ? 'general-checkbox-input-box-selected' : '')
              svg.general-checkbox-input-icon(fill='var(--box-color)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                path(d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z')
            .general-checkbox-input-text Has Fork
      .general-create-title Dates
      .general-create-seperator
      .general-create-input-grid-wrapper(style=`grid-template-columns: repeat(2, 1fr);`)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle Created After
          input.general-input#created-after(type='date' value=params.created_after)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle Created Before
          input.general-input#created-before(type='date' value=params.created_before)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle Pushed After
          input.general-input#pushed-after(type='date' value=params.pushed_after)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle Pushed Before
          input.general-input#pushed-before(type='date' value=params.pushed_before)
      .general-create-title Sorting
      .general-create-seperator
      .general-create-input-grid-wrapper(style=`grid-template-columns: repeat(2, 1fr);`)
        span.general-create-subtitle Sort By
          .general-radio-input-grid-each-item-wrapper(id='sort-by-radio')
            each option in REPOSITORES_SORT_OPTIONS
              .general-radio-input-wrapper(data-value=option)
                .general-radio-input-box(class=('sort' in params ? (params.sort == option ? 'general-radio-input-box-selected' : '') : (option == 'find_at' ? 'general-radio-input-box-selected' : '')))
                  svg.general-radio-input-box-tick(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                    path(d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z')
                .general-radio-input-text= option.split('_').join(' ').charAt(0).toUpperCase() + option.split('_').join(' ').slice(1)
        span.general-create-subtitle Order
          .general-radio-input-grid-each-item-wrapper(id='order-radio')
            .general-radio-input-wrapper(data-value='1')
              .general-radio-input-box(class=((!('sort_order' in params) || (('sort_order' in params) && params.sort_order == 1)) ? 'general-radio-input-box-selected' : ''))
                svg.general-radio-input-box-tick(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                  path(d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z')
              .general-radio-input-text Ascending
            .general-radio-input-wrapper(data-value='-1')
              .general-radio-input-box(class=(('sort_order' in params && params.sort_order == -1) ? 'general-radio-input-box-selected' : ''))
                svg.general-radio-input-box-tick(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                  path(d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z')
              .general-radio-input-text Descending
      .general-create-button#advanced-search-button Search
